@charset "UTF-8";
.toggle__menu {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 20px;
    width: 35px;
    height: auto;
    line-height: 0.7;
    cursor: pointer;
    display: none;
}

.toggle__menu span {
    background-color: #ffffff;
    width: 100%;
    height: 3px;
    display: inline-block;
    border-radius: 8px;
}

.toggle__menu.open span:nth-child(1) {
    transform: rotate(45deg);
}

.toggle__menu.open span:nth-child(2) {
    display: none;
}

.toggle__menu.open span:nth-child(3) {
    transform: rotate(-45deg);
    position: relative;
    top: -10px;
}

.menu-open {
    overflow: hidden;
}

.header__main {
    padding: 25px 0 0;
    transition: all 0.6s ease-in-out;
}

.header {
    padding-bottom: 98px;
}

.header .header__wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 11;
    background: #0450B4;
}

.header .header__wrapper ul li {
    position: relative;
}

.header .header__wrapper ul li a {
    color: #ffffff;
    font-weight: 500;
}

.header .header__wrapper ul li a:hover {
    color: #FF9A08;
}

.header .header__wrapper ul li a.btn-orange {
    min-width: auto;
    padding: 13px 38px;
}

.header .header__wrapper ul li a.btn-white {
    padding: 13px 38px;
}

.header .header__wrapper ul li.current-menu-item>a {
    color: #FF9A08;
}

.header .header__wrapper ul li:not(:last-child) {
    margin-right: 25px;
}

.header__logo img {
    width: 100px;
    transition: all 0.6s ease-in-out;
}

@media (max-width: 767px) {
    .header__mainmenu {
        position: relative;
    }
    .header__mainmenu .col--20 {
        max-width: 20%;
        flex: 0 0 20%;
    }
    .header__mainmenu .col--80 {
        max-width: 80%;
        flex: 0 0 80%;
    }
    .toggle__menu {
        display: block;
    }
    .header__menu {
        display: none;
        position: absolute;
        top: 105px;
        right: 10px;
        padding: 20px;
        background: #0450b4;
        width: 220px;
        border-radius: 10px;
    }
    .header__menu ul {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .header__menu ul li {
        margin: 0 !important;
        padding: 10px 0;
    }
}

@media (max-width: 650px) {
    .header__mainmenu .col--20 {
        max-width: 130px;
        flex: 0 0 130px;
    }
    .header__mainmenu .col--20 img {
        height: 100px;
    }
}

footer .vx__footer--logo img {
    margin: 0 auto;
}

footer .vx__footer--menu {
    margin-top: 15px;
}

footer .vx__footer--menu ul {
    -moz-column-gap: 50px;
    column-gap: 50px;
    row-gap: 15px;
}

footer .vx__footer--menu ul li a {
    color: #0450B4;
}

footer .vx__footer--menu ul li a:hover {
    color: #FF9A08;
}

footer .vx__footer--contact {
    -moz-column-gap: 80px;
    column-gap: 80px;
    row-gap: 40px;
    margin-top: 25px;
}

footer .vx__footer--contact .vx__phone img {
    margin-right: 15px;
}

footer .vx__footer--contact .vx__phone a {
    font-size: 18px;
}

footer .vx__footer--contact .vx__phone p {
    color: #0450B4;
    transition: all 0.6s ease-in-out;
}

footer .vx__footer--contact .vx__phone p:hover {
    color: #FF9A08;
    transition: all 0.6s ease-in-out;
}

footer .vx__footer--icon .vx__icon {
    margin: 30px 15px 30px 0;
}

footer .vx__footer--icon .vx__icon a svg {
    border: 1px solid #FF9A08;
    border-radius: 50px;
    transition: all 0.6s ease-in-out;
}

footer .vx__footer--icon .vx__icon a svg:hover {
    transform: scale(1.1) rotateY(360deg);
}

footer .vx__footer--icon .vx__icon a:hover svg {
    transition: all 0.6s ease-in-out;
}

footer .vx__footer-copyright {
    border-top: 1px solid #0450B4;
}

footer .vx__footer-copyright p {
    color: #0450B4;
}

@media (max-width: 991px) {
    footer .justify-content-center {
        justify-content: start;
    }
    footer .vx__footer--contact {
        row-gap: 25px;
    }
    footer .vx__footer--contact .vx__phone a {
        font-size: 16px;
    }
    footer .vx__footer--contact .vx__phone p {
        font-size: 16px;
    }
    footer .vx__footer--contact .vx__phone img {
        width: 35px;
        height: auto;
    }
    footer .vx__footer--icon.justify-content-center {
        justify-content: center;
    }
}

@media (max-width: 600px) {
    .vx__footer--menu ul {
        -moz-column-gap: 0 !important;
        column-gap: 0 !important;
    }
    .vx__footer--menu ul li {
        max-width: 50%;
        flex: 0 0 50%;
    }
}

* {
    margin: 0;
    padding: 0;
    counter-reset: section;
    box-sizing: border-box;
}

@font-face {
    font-family: "breeze";
    src: url("../../fonts/front/BreezePersonalUse-Regular.eot");
    src: url("../../fonts/front/BreezePersonalUse-Regular.eot?#iefix") format("embedded-opentype"), url("../../fonts/front/BreezePersonalUse-Regular.woff2") format("woff2"), url("../../fonts/front/BreezePersonalUse-Regular.woff") format("woff"), url("../../fonts/front/BreezePersonalUse-Regular.ttf") format("truetype"), url("../../fonts/front/BreezePersonalUse-Regular.svg#svgFontName") format("svg");
    font-weight: normal;
}

body {
    font-size: 16px;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    color: #707070;
    line-height: 1.4;
    overflow-x: hidden;
    background-color: #F8F8F8;
}

*,
*:before,
*:after {
    box-sizing: border-box !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0;
    margin-bottom: 10px;
    line-height: 1.2;
    font-family: "Montserrat", sans-serif;
}

.secondary-font {
    font-family: "breeze";
}

.secondary-color {
    color: #FF9A08;
}

.primary-color {
    color: #0450B4;
}

h1 {
    font-size: 150px;
    font-weight: 800;
}

.h1 {
    font-size: 70px;
    font-weight: 800;
}

h2 {
    font-size: 40px;
    font-weight: 700;
}

.h2 {
    font-size: 46px;
    font-weight: 700;
}

h3 {
    font-size: 30px;
    font-weight: 600;
}

.h3 {
    font-size: 36px !important;
    font-weight: 600;
}

h4 {
    font-size: 24px;
    font-weight: 700;
}

h5 {
    font-size: 20px;
    font-weight: 500;
}

.h5 {
    font-size: 22px;
    font-weight: 400;
}

h6 {
    font-size: 16px;
    font-weight: 700;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

svg {
    max-width: 100%;
}

.text-100 {
    font-weight: 100;
}

.text-200 {
    font-weight: 200;
}

.text-300 {
    font-weight: 300;
}

.text-400 {
    font-weight: 400;
}

.text-500 {
    font-weight: 500;
}

.text-600 {
    font-weight: 600 !important;
}

.text-700 {
    font-weight: 700;
}

.text-bold {
    font-weight: bold;
}

input:focus,
select:focus-visible,
textarea:focus-visible {
    outline: none !important;
    box-shadow: none !important;
}

::-moz-selection {
    background-color: #FF9A08;
}

::selection {
    background-color: #FF9A08;
}

:focus {
    outline: none !important;
}

.second-bg-color {
    background-color: #ffffff;
}

path {
    transition: all 0.6s ease-in-out;
}

a {
    text-decoration: none;
    color: #0450B4;
}

a:focus {
    outline: none;
}

a:hover {
    color: #FF9A08;
    transition: all 0.6s ease-in-out;
}

a:visited {
    color: inherit;
}

a.btn {
    color: #ffffff;
}

p {
    margin-top: 0;
}

.p {
    font-size: 14px;
}

p:empty {
    display: none;
}

.f-300 {
    font-weight: 300;
}

.padding-sec {
    padding: 70px 0;
}

a.btn,
.btn {
    border-radius: 7px;
    padding: 13px 38px;
    color: #ffffff;
    font-size: 14px;
    font-weight: 400;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: auto;
    position: relative;
    overflow: hidden;
    border: none;
    cursor: pointer;
    z-index: 9;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    text-decoration: none;
    transition: all 0.6s ease-in-out;
}

a.btn span,
.btn span {
    margin-left: 10px;
    display: inline-flex;
}

a.btn:before,
.btn:before {
    content: "";
    position: absolute;
    top: 0;
    right: -60px;
    bottom: 0;
    left: 0;
    border-right: 55px solid transparent;
    z-index: -1;
    transform: translateX(-100%);
    transition: 0.5s ease-in-out;
}

a.btn:hover:before,
.btn:hover:before {
    transform: translateX(0);
    transition: 0.5s ease-in-out;
}

a.btn-orange,
btn.btn-orange {
    background-color: #FF9A08;
    color: #ffffff;
    padding: 10px;
    min-width: 155px;
}

a.btn-orange svg path,
btn.btn-orange svg path {
    fill: #ffffff;
}

a.btn-orange:hover,
btn.btn-orange:hover {
    background-color: #0450B4;
    color: #ffffff;
    transition: all 0.6s ease-in-out;
}

a.btn-orange:before,
btn.btn-orange:before {
    border-bottom: 55px solid #ffffff;
}

a.btn-signup,
btn.btn-signup {
    background-color: #ffffff;
    color: #707070 !important;
}

a.btn-signup:hover,
btn.btn-signup:hover {
    color: #ffffff !important;
    transition: all 0.6s ease-in-out;
}

a.btn-signup:before,
btn.btn-signup:before {
    border-bottom: 55px solid #FF9A08;
}

a.btn-white,
btn.btn-white {
    background-color: #ffffff;
    color: #0450B4;
    font-weight: 600;
    padding: 10px;
    min-width: 155px;
}

a.btn-white:hover,
btn.btn-white:hover {
    color: #ffffff !important;
    transition: all 0.6s ease-in-out;
}

a.btn-white:hover svg path,
btn.btn-white:hover svg path {
    fill: #ffffff;
}

a.btn-white:before,
btn.btn-white:before {
    border-bottom: 55px solid #FF9A08;
}

a.btn-blue,
btn.btn-blue {
    background-color: #0450B4;
    color: #ffffff;
    min-width: 150px;
    padding: 13px 18px;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
}

a.btn-blue:hover,
btn.btn-blue:hover {
    background-color: #FF9A08;
    color: #ffffff;
    transition: all 0.6s ease-in-out;
}

a.btn-blue:before,
btn.btn-blue:before {
    border-bottom: 55px solid #FF9A08;
}

.btn-resize {
    padding: 10px 17px !important;
    min-width: auto !important;
    font-weight: 600;
}

.btn.btn-blue {
    background-color: #0450B4;
    color: #ffffff;
    min-width: 150px;
    padding: 13px 18px;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
}

.btn.btn-blue:hover {
    background-color: #FF9A08;
    color: #ffffff;
    transition: all 0.6s ease-in-out;
}

.btn.btn-blue:before {
    border-bottom: 55px solid #FF9A08;
}

.color-primary {
    color: #0450B4;
}

ul {
    padding: 0;
    list-style: none;
    margin: 0;
}

li {
    list-style: none;
}

.disk-list {
    padding-left: 20px;
}

.disk-list li {
    list-style-type: disc;
}

.number-list {
    padding-left: 20px;
}

.number-list li {
    list-style-type: decimal;
}

.cIcon-list li {
    background: url(../images/c_icon.svg) no-repeat center left/16px;
    padding-left: 30px;
}

main {
    overflow: hidden;
}

.container {
    width: 100%;
    max-width: 1630px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    position: relative;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
}

.col--16 {
    flex: 0 0 16.66%;
    max-width: 16.66%;
    padding: 0 15px;
}

.col--20 {
    flex: 0 0 20%;
    max-width: 20%;
    padding: 0 15px;
}

.col--25 {
    flex: 0 0 25%;
    max-width: 25%;
    padding: 0 15px;
}

.col--30 {
    flex: 0 0 30%;
    max-width: 30%;
    padding: 0 15px;
}

.col--33 {
    flex: 0 0 33.33%;
    max-width: 33.33%;
    padding: 0 15px;
}

.col--40 {
    flex: 0 0 40%;
    max-width: 40%;
    padding: 0 15px;
}

.col--45 {
    flex: 0 0 45%;
    max-width: 45%;
    padding: 0 15px;
}

.col--50 {
    flex: 0 0 50%;
    max-width: 50%;
    padding: 0 15px;
}

.col--55 {
    flex: 0 0 55%;
    max-width: 55%;
    padding: 0 15px;
}

.col--60 {
    flex: 0 0 60%;
    max-width: 60%;
    padding: 0 15px;
}

.col--70 {
    flex: 0 0 70%;
    max-width: 70%;
    padding: 0 15px;
}

.col--75 {
    flex: 0 0 75%;
    max-width: 75%;
    padding: 0 15px;
}

.col--80 {
    flex: 0 0 80%;
    max-width: 80%;
    padding: 0 15px;
}

.col--90 {
    flex: 0 0 90%;
    max-width: 90%;
    padding: 0 15px;
}

.col--100 {
    flex: 0 0 100%;
    max-width: 100%;
    padding: 0 15px;
}

.d-flex {
    display: flex;
}

.flex-wrap {
    flex-wrap: wrap;
}

.align-items-center {
    align-items: center;
}

.align-items-end {
    align-items: end;
}

.justify-content-center {
    justify-content: center;
}

.justify-content-between {
    justify-content: space-between;
}

.justify-content-around {
    justify-content: space-around;
}

.justify-content-end {
    justify-content: flex-end;
}

.flex-column {
    flex-direction: column;
}

.mt-15 {
    margin-top: 15px !important;
}

.mb-0 {
    margin-bottom: 0 !important;
}

.mb-5 {
    margin-bottom: 5px !important;
}

.mb-10 {
    margin-bottom: 10px !important;
}

.mb-15 {
    margin-bottom: 15px !important;
}

.mb-25 {
    margin-bottom: 25px !important;
}

.mb-30 {
    margin-bottom: 30px !important;
}

.mb-35 {
    margin-bottom: 35px !important;
}

.mb-40 {
    margin-bottom: 40px !important;
}

.mb-45 {
    margin-bottom: 45px !important;
}

.mb-50 {
    margin-bottom: 55px !important;
}

.mb-55 {
    margin-bottom: 55px !important;
}

.mb-60 {
    margin-bottom: 60px !important;
}

.p-0 {
    padding: 0;
}

.mt-10 {
    margin-top: 10;
}

.m-0 {
    margin: 0;
}

.my-auto {
    margin: 0 auto;
}

.ml-auto {
    margin-left: auto;
}

.mr-auto {
    margin-right: auto;
}

.p-20 {
    padding: 20px;
}

.p-0 {
    padding: 0px;
}

a.text-white,
.text-white {
    color: #ffffff;
}

a.light-grey-text,
.light-grey-text {
    color: #FF9A08;
}

.primary-bg {
    background-color: #0450B4;
}

.color-black {
    color: #3C3C3C;
}

.light-green-bg {
    background-color: #FF9A08;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.bg-white {
    background-color: #ffffff;
}

.uppercase {
    text-transform: uppercase;
}

.text-bold {
    font-weight: bold;
}

section {
    position: relative;
    z-index: 1;
}

.no-radius {
    border-radius: 0;
}

.border-radius-10 {
    border-radius: 10px;
}

.border-radius-15 {
    border-radius: 15px;
}

.overlay:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #0450B4;
    opacity: 0.46;
    z-index: -1;
    mix-blend-mode: multiply;
}

.gradient-overlay:after {
    background: linear-gradient(#fff 0%, #000 100%);
    opacity: 0.41;
}

@media (max-width: 1440px) {
    .container {
        max-width: 1280px;
    }
}

@media (max-width: 1280px) {
    .container {
        max-width: 1200px;
    }
}

@media (max-width: 991px) {
    .container {
        max-width: 100%;
        padding: 0 15px;
    }
}

@media (max-width: 767px) {
    .container {
        max-width: 640px;
    }
    .col--20,
    .col--25,
    .col--30,
    .col--33,
    .col--40,
    .col--45,
    .col--50,
    .col--55,
    .col--60,
    .col--70,
    .col--75,
    .col--80 {
        flex: 0 0 100%;
        max-width: 100%;
    }
}

.form-group {
    margin-bottom: 15px;
    position: relative;
}

.form-group textarea.form-control {
    height: 65px;
    resize: none;
}

.form-group .form-control {
    width: 100%;
    display: block;
    border: 1px solid #D2D2D2;
    background-color: #FBFBFB;
    font-size: 18px;
    padding: 15px 20px;
    line-height: normal;
    font-weight: 400;
    border-radius: 7px;
    color: #707070;
    white-space: break-spaces;
    word-break: break-word;
    box-shadow: none;
    height: auto;
}

.form-group .form-control::-moz-placeholder {
    color: #707070;
}

.form-group .form-control:-ms-input-placeholder {
    color: #707070;
}

.form-group .form-control::placeholder {
    color: #707070;
}

.form-group .btn {
    width: 100%;
    text-align: center;
    padding: 20px;
    display: block;
}

.btn-wrapper {
    position: relative;
}

.btn-wrapper .wpcf7-spinner {
    margin: 0;
    position: absolute;
    top: 21px;
    right: 29px;
    z-index: 9;
}

.wpcf7 .wpcf7-form label.error {
    color: #d31515;
    font-size: 14px;
    padding-left: 0;
}

.wpcf7 form.invalid .wpcf7-response-output,
.wpcf7 form.unaccepted .wpcf7-response-output,
.wpcf7 form.payment-required .wpcf7-response-output {
    border-color: #d31515;
    color: #d31515;
}

.wpcf7 form.sent .wpcf7-response-output {
    border-color: #0f910f;
    color: #0f910f;
}

.wpcf7-not-valid-tip {
    color: #d31515;
}

.section__spacing {
    padding: 70px 0;
}

.footer__section-spacing {
    padding: 30px 0;
}

.number__list {
    margin-left: 12px;
}

.number__list li {
    list-style: decimal;
}

@media (max-width: 1600px) {
    h1 {
        font-size: 125px;
    }
    h3 {
        font-size: 28px;
    }
    h4 {
        font-size: 24px;
    }
    h5 {
        font-size: 18px;
    }
    h6 {
        font-size: 15px;
    }
    .form-group .custom__file .file-custom-button {
        font-size: 18px;
        padding: 20px 40px;
    }
}

@media (max-width: 1280px) {
    body {
        font-size: 14px;
    }
    h1 {
        font-size: 30px;
    }
    h2 {
        font-size: 28px;
    }
    h3 {
        font-size: 22px;
    }
    h4 {
        font-size: 20px;
    }
    h5 {
        font-size: 16px;
    }
    h6 {
        font-size: 14px;
    }
}

@media (max-width: 1440px) {
    h1 {
        font-size: 90px;
    }
}

@media (max-width: 991px) {
    h1 {
        font-size: 70px;
    }
}

@media (max-width: 991px) {
    .form-group {
        margin-bottom: 15px;
    }
    .form-group .form-control {
        font-size: 14px;
        padding: 15px 20px;
    }
    .form-group .custom__file .file-custom-button {
        font-size: 14px;
        padding: 14px 20px;
        height: 53px;
    }
    .form-group .custom__file .file-custom-text {
        width: calc(100% - 80px);
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    a.btn,
    .btn {
        padding: 10px 20px;
        font-size: 15px;
        min-width: auto;
    }
    .section__spacing {
        padding: 40px 0 !important;
    }
}

@media (max-width: 767px) {
    .cIcon-list li {
        background-size: 12px;
        padding-left: 20px;
    }
    br {
        display: none;
    }
    a.btn,
    .btn {
        font-size: 13px;
    }
}

@media (max-width: 480px) {
    h1 {
        font-size: 50px;
    }
    h2 {
        font-size: 22px;
    }
    h3 {
        font-size: 20px;
    }
    h4 {
        font-size: 18px;
    }
    .form-group textarea.form-control {
        height: 150px;
    }
    .form-group select {
        background-size: 14px;
        font-family: M;
    }
    a.btn,
    .btn {
        font-size: 12px;
    }
    a.btn svg,
    .btn svg {
        margin-left: 8px;
        width: 14px;
        height: 14px;
    }
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
    -webkit-text-fill-color: #241f45;
    -webkit-box-shadow: 0 0 0px 1000px #transparent inset;
    -webkit-transition: background-color 5000s ease-in-out 0s;
    transition: background-color 5000s ease-in-out 0s;
    font-weight: 600;
}

.vx__border-center {
    position: relative;
}

.vx__border-center:after {
    content: "";
    position: absolute;
    height: 4px;
    width: 0px;
    background-color: #ff9a08;
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 0 0 4px 4px;
    -webkit-animation: line-animation 3s linear infinite alternate;
    animation: line-animation 3s linear infinite alternate;
}

.vx__border-left {
    position: relative;
}

.vx__border-left:after {
    content: "";
    position: absolute;
    height: 4px;
    width: 0px;
    background-color: #ff9a08;
    bottom: -5px;
    left: 0;
    border-radius: 0 0 4px 4px;
    -webkit-animation: line-animation 3s linear infinite alternate;
    animation: line-animation 3s linear infinite alternate;
}

@-webkit-keyframes line-animation {
    100% {
        width: 65px;
    }
}

@keyframes line-animation {
    100% {
        width: 65px;
    }
}

.vx__hire .vx__hover--show path {
    stroke-width: 0;
    stroke-dasharray: 15700;
    stroke-dashoffset: 15700;
}

.vx__hire:hover .vx__hover--show {
    transition: all 0.5s ease-in-out;
}

.vx__hire:hover .vx__hover--show path {
    -webkit-animation: animate-svg 0.8s linear forwards;
    animation: animate-svg 0.8s linear forwards;
}

@-webkit-keyframes animate-svg {
    0% {
        stroke-dashoffset: 0;
    }
    40% {
        stroke-dashoffset: 15700;
    }
    80% {
        stroke-dashoffset: 31400;
        fill: transparent;
    }
    100% {
        stroke-dashoffset: 31400;
        stroke: #ffffff;
    }
}

@keyframes animate-svg {
    0% {
        stroke-dashoffset: 0;
    }
    40% {
        stroke-dashoffset: 15700;
    }
    80% {
        stroke-dashoffset: 31400;
        fill: transparent;
    }
    100% {
        stroke-dashoffset: 31400;
        stroke: #ffffff;
    }
}

.breadcrumb-items ul {
    padding: 10px 0px;
    padding-bottom: 0;
    list-style: none;
}

.breadcrumb-items li {
    display: inline;
    font-size: 17px;
}

.breadcrumb-items li::before {
    padding: 8px;
    color: #ffffff;
    content: "/ ";
}

.breadcrumb-items li:first-child::before {
    display: none;
}

.breadcrumb-items li a {
    color: #ffffff;
    text-decoration: none;
}

.breadcrumb-items li a:hover {
    color: #FF9A08;
    text-decoration: underline;
}

.vx__tag {
    display: inline-block;
    background: #ff9a08;
    padding: 3px 12px;
    border-radius: 38px;
    margin-bottom: 20px;
    color: #ffffff;
    font-weight: 700;
    font-size: 12px;
}


/* overlay Start*/

.banner-overlay {
    position: relative;
}

.banner-overlay::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(90.1deg, rgba(0, 0, 0, 0.75) 0.09%, rgba(0, 0, 0, 0.63) 106.26%);
}


/* overlay End*/

.login-container .vx__data--set .vx__login--form {
    padding: 0 30px !important;
}

.form--data {
    align-self: flex-start !important;
    padding-top: 30px;
}

.tab button {
    background-color: #707070 !important;
    padding: 33px 15px;
    transition: 0.3s;
    font-size: 40px;
    min-width: auto !important;
    width: 100%;
    max-width: 300px;
    border-radius: 15px;
}

.tab .btn.btn-blue.active {
    color: #FF9A08 !important;
    background-color: #0450B4 !important;
}

.tab .btn.btn-blue:hover::before {
    display: none;
}

.tabcontent.active {
    display: block;
}

.tabcontent {
    display: none;
    padding: 6px 12px;
    border-top: none;
}

.form-group>.row>.col--50:first-child {
    padding: 0 !important;
    padding-right: 25px !important;
}

.form-group>.row>.col--50:last-child {
    padding: 0 !important;
}

@media (max-width: 1600px) {
    .form--data .tab {
        width: 100%;
        max-width: 100%;
        margin: 0 auto;
        -moz-column-gap: 10px !important;
        column-gap: 10px !important;
    }
    .form--data .tab .tablinks {
        font-size: 30px;
    }
}

@media (max-width: 1199px) {
    .tablinks {
        font-size: 25px !important;
    }
}

@media (max-width: 991px) {
    form .form-group>.row>.col--50 {
        max-width: 100%;
        flex: 0 0 100%;
    }
    form .form-group>.row>.col--50:first-child {
        padding-right: 0 !important;
        margin-bottom: 25px !important;
    }
}

@media (max-width: 560px) {
    .tablinks {
        font-size: 18px !important;
    }
}

@media (max-width: 445px) {
    .tablinks {
        font-size: 14px !important;
    }
    .login-container .col--50 {
        max-width: 98% !important;
        flex: 0 0 98% !important;
        margin: 0 auto !important;
    }
}


/*# sourceMappingURL=student.css.map */