@charset "UTF-8";
.toggle__menu {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 20px;
    width: 35px;
    height: auto;
    line-height: 0.7;
    cursor: pointer;
    display: none;
}

.toggle__menu span {
    background-color: #ffffff;
    width: 100%;
    height: 3px;
    display: inline-block;
    border-radius: 8px;
}

.toggle__menu.open span:nth-child(1) {
    transform: rotate(45deg);
}

.toggle__menu.open span:nth-child(2) {
    display: none;
}

.toggle__menu.open span:nth-child(3) {
    transform: rotate(-45deg);
    position: relative;
    top: -10px;
}

.menu-open {
    overflow: hidden;
}

.header__main {
    padding: 25px 0 0;
    transition: all 0.6s ease-in-out;
}

.header {
    padding-bottom: 98px;
}

.header .header__wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 11;
    background: #0450B4;
}

.header .header__wrapper ul li {
    position: relative;
}

.header .header__wrapper ul li a {
    color: #ffffff;
    font-weight: 500;
}

.header .header__wrapper ul li a:hover {
    color: #FF9A08;
}

.header .header__wrapper ul li a.btn-orange {
    min-width: auto;
    padding: 13px 38px;
}

.header .header__wrapper ul li a.btn-white {
    padding: 13px 38px;
}

.header .header__wrapper ul li.current-menu-item>a {
    color: #FF9A08;
}

.header .header__wrapper ul li:not(:last-child) {
    margin-right: 25px;
}

.header__logo img {
    width: 100px;
    transition: all 0.6s ease-in-out;
}

@media (max-width: 767px) {
    .header__mainmenu {
        position: relative;
    }
    .header__mainmenu .col--20 {
        max-width: 20%;
        flex: 0 0 20%;
    }
    .header__mainmenu .col--80 {
        max-width: 80%;
        flex: 0 0 80%;
    }
    .toggle__menu {
        display: block;
    }
    .header__menu {
        display: none;
        position: absolute;
        top: 105px;
        right: 10px;
        padding: 20px;
        background: #0450b4;
        width: 220px;
        border-radius: 10px;
    }
    .header__menu ul {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .header__menu ul li {
        margin: 0 !important;
        padding: 10px 0;
    }
}

@media (max-width: 650px) {
    .header__mainmenu .col--20 {
        max-width: 130px;
        flex: 0 0 130px;
    }
    .header__mainmenu .col--20 img {
        height: 100px;
    }
}

footer .vx__footer--logo img {
    margin: 0 auto;
}

footer .vx__footer--menu {
    margin-top: 15px;
}

footer .vx__footer--menu ul {
    -moz-column-gap: 50px;
    column-gap: 50px;
    row-gap: 15px;
}

footer .vx__footer--menu ul li a {
    color: #0450B4;
}

footer .vx__footer--menu ul li a:hover {
    color: #FF9A08;
}

footer .vx__footer--contact {
    -moz-column-gap: 80px;
    column-gap: 80px;
    row-gap: 40px;
    margin-top: 25px;
}

footer .vx__footer--contact .vx__phone img {
    margin-right: 15px;
}

footer .vx__footer--contact .vx__phone a {
    font-size: 18px;
}

footer .vx__footer--contact .vx__phone p {
    color: #0450B4;
    transition: all 0.6s ease-in-out;
}

footer .vx__footer--contact .vx__phone p:hover {
    color: #FF9A08;
    transition: all 0.6s ease-in-out;
}

footer .vx__footer--icon .vx__icon {
    margin: 30px 15px 30px 0;
}

footer .vx__footer--icon .vx__icon a svg {
    border: 1px solid #FF9A08;
    border-radius: 50px;
    transition: all 0.6s ease-in-out;
}

footer .vx__footer--icon .vx__icon a svg:hover {
    transform: scale(1.1) rotateY(360deg);
}

footer .vx__footer--icon .vx__icon a:hover svg {
    transition: all 0.6s ease-in-out;
}

footer .vx__footer-copyright {
    border-top: 1px solid #0450B4;
}

footer .vx__footer-copyright p {
    color: #0450B4;
}

@media (max-width: 991px) {
    footer .justify-content-center {
        justify-content: start;
    }
    footer .vx__footer--contact {
        row-gap: 25px;
    }
    footer .vx__footer--contact .vx__phone a {
        font-size: 16px;
    }
    footer .vx__footer--contact .vx__phone p {
        font-size: 16px;
    }
    footer .vx__footer--contact .vx__phone img {
        width: 35px;
        height: auto;
    }
    footer .vx__footer--icon.justify-content-center {
        justify-content: center;
    }
}

@media (max-width: 600px) {
    .vx__footer--menu ul {
        -moz-column-gap: 0 !important;
        column-gap: 0 !important;
    }
    .vx__footer--menu ul li {
        max-width: 50%;
        flex: 0 0 50%;
    }
}

* {
    margin: 0;
    padding: 0;
    counter-reset: section;
    box-sizing: border-box;
}

@font-face {
    font-family: "breeze";
    src: url("../fonts/BreezePersonalUse-Regular.eot");
    src: url("../fonts/BreezePersonalUse-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/BreezePersonalUse-Regular.woff2") format("woff2"), url("../fonts/BreezePersonalUse-Regular.woff") format("woff"), url("../fonts/BreezePersonalUse-Regular.ttf") format("truetype"), url("../fonts/BreezePersonalUse-Regular.svg#svgFontName") format("svg");
    font-weight: normal;
}

body {
    font-size: 16px;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    color: #707070;
    line-height: 1.4;
    overflow-x: hidden;
    background-color: #F8F8F8;
}

*,
*:before,
*:after {
    box-sizing: border-box !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0;
    margin-bottom: 10px;
    line-height: 1.2;
    font-family: "Montserrat", sans-serif;
}

.secondary-font {
    font-family: "breeze";
}

.secondary-color {
    color: #FF9A08;
}

.primary-color {
    color: #0450B4;
}

h1 {
    font-size: 150px;
    font-weight: 800;
}

.h1 {
    font-size: 70px;
    font-weight: 800;
}

h2 {
    font-size: 40px;
    font-weight: 700;
}

.h2 {
    font-size: 46px;
    font-weight: 700;
}

h3 {
    font-size: 30px;
    font-weight: 600;
}

.h3 {
    font-size: 36px !important;
    font-weight: 600;
}

h4 {
    font-size: 24px;
    font-weight: 700;
}

h5 {
    font-size: 20px;
    font-weight: 500;
}

.h5 {
    font-size: 22px;
    font-weight: 400;
}

h6 {
    font-size: 16px;
    font-weight: 700;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

svg {
    max-width: 100%;
}

.text-100 {
    font-weight: 100;
}

.text-200 {
    font-weight: 200;
}

.text-300 {
    font-weight: 300;
}

.text-400 {
    font-weight: 400;
}

.text-500 {
    font-weight: 500;
}

.text-600 {
    font-weight: 600 !important;
}

.text-700 {
    font-weight: 700;
}

.text-bold {
    font-weight: bold;
}

input:focus,
select:focus-visible,
textarea:focus-visible {
    outline: none !important;
    box-shadow: none !important;
}

::-moz-selection {
    background-color: #FF9A08;
}

::selection {
    background-color: #FF9A08;
}

:focus {
    outline: none !important;
}

.second-bg-color {
    background-color: #ffffff;
}

path {
    transition: all 0.6s ease-in-out;
}

a {
    text-decoration: none;
    color: #0450B4;
}

a:focus {
    outline: none;
}

a:hover {
    color: #FF9A08;
    transition: all 0.6s ease-in-out;
}

a:visited {
    color: inherit;
}

a.btn {
    color: #ffffff;
}

p {
    margin-top: 0;
}

.p {
    font-size: 14px;
}

p:empty {
    display: none;
}

.f-300 {
    font-weight: 300;
}

.padding-sec {
    padding: 70px 0;
}

a.btn,
.btn {
    border-radius: 7px;
    padding: 13px 38px;
    color: #ffffff;
    font-size: 14px;
    font-weight: 400;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: auto;
    position: relative;
    overflow: hidden;
    border: none;
    cursor: pointer;
    z-index: 9;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    text-decoration: none;
    transition: all 0.6s ease-in-out;
}

a.btn span,
.btn span {
    margin-left: 10px;
    display: inline-flex;
}

a.btn:before,
.btn:before {
    content: "";
    position: absolute;
    top: 0;
    right: -60px;
    bottom: 0;
    left: 0;
    border-right: 55px solid transparent;
    z-index: -1;
    transform: translateX(-100%);
    transition: 0.5s ease-in-out;
}

a.btn:hover:before,
.btn:hover:before {
    transform: translateX(0);
    transition: 0.5s ease-in-out;
}

a.btn-orange,
btn.btn-orange {
    background-color: #FF9A08;
    color: #ffffff;
    padding: 10px;
    min-width: 155px;
}

a.btn-orange svg path,
btn.btn-orange svg path {
    fill: #ffffff;
}

a.btn-orange:hover,
btn.btn-orange:hover {
    background-color: #0450B4;
    color: #ffffff;
    transition: all 0.6s ease-in-out;
}

a.btn-orange:before,
btn.btn-orange:before {
    border-bottom: 55px solid #ffffff;
}

a.btn-signup,
btn.btn-signup {
    background-color: #ffffff;
    color: #707070 !important;
}

a.btn-signup:hover,
btn.btn-signup:hover {
    color: #ffffff !important;
    transition: all 0.6s ease-in-out;
}

a.btn-signup:before,
btn.btn-signup:before {
    border-bottom: 55px solid #FF9A08;
}

a.btn-white,
btn.btn-white {
    background-color: #ffffff;
    color: #0450B4;
    font-weight: 600;
    padding: 10px;
    min-width: 155px;
}

a.btn-white:hover,
btn.btn-white:hover {
    color: #ffffff !important;
    transition: all 0.6s ease-in-out;
}

a.btn-white:hover svg path,
btn.btn-white:hover svg path {
    fill: #ffffff;
}

a.btn-white:before,
btn.btn-white:before {
    border-bottom: 55px solid #FF9A08;
}

a.btn-blue,
btn.btn-blue {
    background-color: #0450B4;
    color: #ffffff;
    min-width: 150px;
    padding: 13px 18px;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
}

a.btn-blue:hover,
btn.btn-blue:hover {
    background-color: #FF9A08;
    color: #ffffff;
    transition: all 0.6s ease-in-out;
}

a.btn-blue:before,
btn.btn-blue:before {
    border-bottom: 55px solid #FF9A08;
}

.btn-resize {
    padding: 10px 17px !important;
    min-width: auto !important;
    font-weight: 600;
}

.btn.btn-blue {
    background-color: #0450B4;
    color: #ffffff;
    min-width: 150px;
    padding: 13px 18px;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
}

.btn.btn-blue:hover {
    background-color: #FF9A08;
    color: #ffffff;
    transition: all 0.6s ease-in-out;
}

.btn.btn-blue:before {
    border-bottom: 55px solid #FF9A08;
}

.color-primary {
    color: #0450B4;
}

ul {
    padding: 0;
    list-style: none;
    margin: 0;
}

li {
    list-style: none;
}

.disk-list {
    padding-left: 20px;
}

.disk-list li {
    list-style-type: disc;
}

.number-list {
    padding-left: 20px;
}

.number-list li {
    list-style-type: decimal;
}

.cIcon-list li {
    background: url(../images/c_icon.svg) no-repeat center left/16px;
    padding-left: 30px;
}

main {
    overflow: hidden;
}

.container {
    width: 100%;
    max-width: 1630px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    position: relative;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
}

.col--16 {
    flex: 0 0 16.66%;
    max-width: 16.66%;
    padding: 0 15px;
}

.col--20 {
    flex: 0 0 20%;
    max-width: 20%;
    padding: 0 15px;
}

.col--25 {
    flex: 0 0 25%;
    max-width: 25%;
    padding: 0 15px;
}

.col--30 {
    flex: 0 0 30%;
    max-width: 30%;
    padding: 0 15px;
}

.col--33 {
    flex: 0 0 33.33%;
    max-width: 33.33%;
    padding: 0 15px;
}

.col--40 {
    flex: 0 0 40%;
    max-width: 40%;
    padding: 0 15px;
}

.col--45 {
    flex: 0 0 45%;
    max-width: 45%;
    padding: 0 15px;
}

.col--50 {
    flex: 0 0 50%;
    max-width: 50%;
    padding: 0 15px;
}

.col--55 {
    flex: 0 0 55%;
    max-width: 55%;
    padding: 0 15px;
}

.col--60 {
    flex: 0 0 60%;
    max-width: 60%;
    padding: 0 15px;
}

.col--70 {
    flex: 0 0 70%;
    max-width: 70%;
    padding: 0 15px;
}

.col--75 {
    flex: 0 0 75%;
    max-width: 75%;
    padding: 0 15px;
}

.col--80 {
    flex: 0 0 80%;
    max-width: 80%;
    padding: 0 15px;
}

.col--90 {
    flex: 0 0 90%;
    max-width: 90%;
    padding: 0 15px;
}

.col--100 {
    flex: 0 0 100%;
    max-width: 100%;
    padding: 0 15px;
}

.d-flex {
    display: flex;
}

.flex-wrap {
    flex-wrap: wrap;
}

.align-items-center {
    align-items: center;
}

.align-items-end {
    align-items: end;
}

.justify-content-center {
    justify-content: center;
}

.justify-content-between {
    justify-content: space-between;
}

.justify-content-around {
    justify-content: space-around;
}

.justify-content-end {
    justify-content: flex-end;
}

.flex-column {
    flex-direction: column;
}

.mt-15 {
    margin-top: 15px !important;
}

.mb-0 {
    margin-bottom: 0 !important;
}

.mb-5 {
    margin-bottom: 5px !important;
}

.mb-10 {
    margin-bottom: 10px !important;
}

.mb-15 {
    margin-bottom: 15px !important;
}

.mb-20 {
    margin-bottom: 20px !important;
}

.mb-25 {
    margin-bottom: 25px !important;
}

.mb-30 {
    margin-bottom: 30px !important;
}

.mb-35 {
    margin-bottom: 35px !important;
}

.mb-40 {
    margin-bottom: 40px !important;
}

.mb-45 {
    margin-bottom: 45px !important;
}

.mb-50 {
    margin-bottom: 55px !important;
}

.mb-55 {
    margin-bottom: 55px !important;
}

.mb-60 {
    margin-bottom: 60px !important;
}

.p-0 {
    padding: 0;
}

.mt-10 {
    margin-top: 10;
}

.m-0 {
    margin: 0;
}

.my-auto {
    margin: 0 auto;
}

.ml-auto {
    margin-left: auto;
}

.mr-auto {
    margin-right: auto;
}

.p-20 {
    padding: 20px;
}

.p-0 {
    padding: 0px;
}

a.text-white,
.text-white {
    color: #ffffff;
}

a.light-grey-text,
.light-grey-text {
    color: #FF9A08;
}

.primary-bg {
    background-color: #0450B4;
}

.color-black {
    color: #3C3C3C;
}

.light-green-bg {
    background-color: #FF9A08;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.bg-white {
    background-color: #ffffff;
}

.uppercase {
    text-transform: uppercase;
}

.text-bold {
    font-weight: bold;
}

section {
    position: relative;
    z-index: 1;
}

.no-radius {
    border-radius: 0;
}

.border-radius-10 {
    border-radius: 10px;
}

.border-radius-15 {
    border-radius: 15px;
}

.overlay:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #0450B4;
    opacity: 0.46;
    z-index: -1;
    mix-blend-mode: multiply;
}

.gradient-overlay:after {
    background: linear-gradient(#fff 0%, #000 100%);
    opacity: 0.41;
}

@media (max-width: 1440px) {
    .container {
        max-width: 1280px;
    }
}

@media (max-width: 1280px) {
    .container {
        max-width: 1200px;
    }
}

@media (max-width: 991px) {
    .container {
        max-width: 100%;
        padding: 0 15px;
    }
}

@media (max-width: 767px) {
    .container {
        max-width: 640px;
    }
    .col--20,
    .col--25,
    .col--30,
    .col--33,
    .col--40,
    .col--45,
    .col--50,
    .col--55,
    .col--60,
    .col--70,
    .col--75,
    .col--80 {
        flex: 0 0 100%;
        max-width: 100%;
    }
}

.form-group {
    margin-bottom: 15px;
    position: relative;
}

.form-group textarea.form-control {
    height: 65px;
    resize: none;
}

.form-group .form-control {
    width: 100%;
    display: block;
    border: 1px solid #D2D2D2;
    background-color: #FBFBFB;
    font-size: 18px;
    padding: 15px 20px;
    line-height: normal;
    font-weight: 400;
    border-radius: 7px;
    color: #707070;
    white-space: break-spaces;
    word-break: break-word;
    box-shadow: none;
    height: auto;
}

.form-group .form-control::-moz-placeholder {
    color: #707070;
}

.form-group .form-control:-ms-input-placeholder {
    color: #707070;
}

.form-group .form-control::placeholder {
    color: #707070;
}

.form-group .btn {
    width: 100%;
    text-align: center;
    padding: 20px;
    display: block;
}

.btn-wrapper {
    position: relative;
}

.btn-wrapper .wpcf7-spinner {
    margin: 0;
    position: absolute;
    top: 21px;
    right: 29px;
    z-index: 9;
}

.wpcf7 .wpcf7-form label.error {
    color: #d31515;
    font-size: 14px;
    padding-left: 0;
}

.wpcf7 form.invalid .wpcf7-response-output,
.wpcf7 form.unaccepted .wpcf7-response-output,
.wpcf7 form.payment-required .wpcf7-response-output {
    border-color: #d31515;
    color: #d31515;
}

.wpcf7 form.sent .wpcf7-response-output {
    border-color: #0f910f;
    color: #0f910f;
}

.wpcf7-not-valid-tip {
    color: #d31515;
}

.section__spacing {
    padding: 70px 0;
}

.footer__section-spacing {
    padding: 30px 0;
}

.number__list {
    margin-left: 12px;
}

.number__list li {
    list-style: decimal;
}

@media (max-width: 1600px) {
    h1 {
        font-size: 125px;
    }
    h3 {
        font-size: 28px;
    }
    h4 {
        font-size: 24px;
    }
    h5 {
        font-size: 18px;
    }
    h6 {
        font-size: 15px;
    }
    .form-group .custom__file .file-custom-button {
        font-size: 18px;
        padding: 20px 40px;
    }
}

@media (max-width: 1280px) {
    body {
        font-size: 14px;
    }
    h1 {
        font-size: 30px;
    }
    h2 {
        font-size: 28px;
    }
    h3 {
        font-size: 22px;
    }
    h4 {
        font-size: 20px;
    }
    h5 {
        font-size: 16px;
    }
    h6 {
        font-size: 14px;
    }
}

@media (max-width: 1440px) {
    h1 {
        font-size: 90px;
    }
}

@media (max-width: 991px) {
    h1 {
        font-size: 70px;
    }
}

@media (max-width: 991px) {
    .form-group {
        margin-bottom: 15px;
    }
    .form-group .form-control {
        font-size: 14px;
        padding: 15px 20px;
    }
    .form-group .custom__file .file-custom-button {
        font-size: 14px;
        padding: 14px 20px;
        height: 53px;
    }
    .form-group .custom__file .file-custom-text {
        width: calc(100% - 80px);
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    a.btn,
    .btn {
        padding: 10px 20px;
        font-size: 15px;
        min-width: auto;
    }
    .section__spacing {
        padding: 40px 0 !important;
    }
}

@media (max-width: 767px) {
    .cIcon-list li {
        background-size: 12px;
        padding-left: 20px;
    }
    br {
        display: none;
    }
    a.btn,
    .btn {
        font-size: 13px;
    }
}

@media (max-width: 480px) {
    h1 {
        font-size: 50px;
    }
    h2 {
        font-size: 22px;
    }
    h3 {
        font-size: 20px;
    }
    h4 {
        font-size: 18px;
    }
    .form-group textarea.form-control {
        height: 150px;
    }
    .form-group select {
        background-size: 14px;
    }
    a.btn,
    .btn {
        font-size: 12px;
    }
    a.btn svg,
    .btn svg {
        margin-left: 8px;
        width: 14px;
        height: 14px;
    }
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
    -webkit-text-fill-color: #241f45;
    -webkit-box-shadow: 0 0 0px 1000px #transparent inset;
    -webkit-transition: background-color 5000s ease-in-out 0s;
    transition: background-color 5000s ease-in-out 0s;
    font-weight: 600;
}

.vx__border-center {
    position: relative;
}

.vx__border-center:after {
    content: "";
    position: absolute;
    height: 4px;
    width: 0px;
    background-color: #ff9a08;
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 0 0 4px 4px;
    -webkit-animation: line-animation 3s linear infinite alternate;
    animation: line-animation 3s linear infinite alternate;
}

.vx__border-left {
    position: relative;
}

.vx__border-left:after {
    content: "";
    position: absolute;
    height: 4px;
    width: 0px;
    background-color: #ff9a08;
    bottom: -5px;
    left: 0;
    border-radius: 0 0 4px 4px;
    -webkit-animation: line-animation 3s linear infinite alternate;
    animation: line-animation 3s linear infinite alternate;
}

@-webkit-keyframes line-animation {
    100% {
        width: 65px;
    }
}

@keyframes line-animation {
    100% {
        width: 65px;
    }
}

.vx__hire .vx__hover--show path {
    stroke-width: 0;
    stroke-dasharray: 15700;
    stroke-dashoffset: 15700;
}

.vx__hire:hover .vx__hover--show {
    transition: all 0.5s ease-in-out;
}

.vx__hire:hover .vx__hover--show path {
    -webkit-animation: animate-svg 0.8s linear forwards;
    animation: animate-svg 0.8s linear forwards;
}

@-webkit-keyframes animate-svg {
    0% {
        stroke-dashoffset: 0;
    }
    40% {
        stroke-dashoffset: 15700;
    }
    80% {
        stroke-dashoffset: 31400;
        fill: transparent;
    }
    100% {
        stroke-dashoffset: 31400;
        stroke: #ffffff;
    }
}

@keyframes animate-svg {
    0% {
        stroke-dashoffset: 0;
    }
    40% {
        stroke-dashoffset: 15700;
    }
    80% {
        stroke-dashoffset: 31400;
        fill: transparent;
    }
    100% {
        stroke-dashoffset: 31400;
        stroke: #ffffff;
    }
}

.breadcrumb-items ul {
    padding: 10px 0px;
    padding-bottom: 0;
    list-style: none;
}

.breadcrumb-items li {
    display: inline;
    font-size: 17px;
}

.breadcrumb-items li::before {
    padding: 8px;
    color: #ffffff;
    content: "/ ";
}

.breadcrumb-items li:first-child::before {
    display: none;
}

.breadcrumb-items li a {
    color: #ffffff;
    text-decoration: none;
}

.breadcrumb-items li a:hover {
    color: #FF9A08;
    text-decoration: underline;
}

.vx__tag {
    display: inline-block;
    background: #ff9a08;
    padding: 3px 12px;
    border-radius: 38px;
    margin-bottom: 20px;
    color: #ffffff;
    font-weight: 700;
    font-size: 12px;
}


/* overlay Start*/

.banner-overlay {
    position: relative;
}

.banner-overlay::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(90.1deg, rgba(0, 0, 0, 0.75) 0.09%, rgba(0, 0, 0, 0.63) 106.26%);
}


/* overlay End*/

::-webkit-scrollbar {
    width: 12px;
    height: 3px;
}


/* Track */

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 10px rgba(51, 120, 209, 0.3);
    border-radius: 0px;
}


/* Handle */

::-webkit-scrollbar-thumb {
    background: #0450B4;
    border-radius: 4px;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

::-webkit-scrollbar-thumb:hover {
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}


/* Partnering with world's leading universities and companies Section Start CSS*/

.vx__partnering .vx__border-center::after {
    display: none;
}

.vx__partnering .vx__popular--head p {
    width: 100%;
    max-width: 850px;
    margin: 0 auto;
}

.vx__partnering .partner-slider {
    padding: 20px 0;
}

.vx__partnering .vx__story a {
    color: #0450B4;
    font-size: 18px;
    padding: 15px;
}

@media (max-width: 413px) {
    .partner_slider--image img {
        margin: 0 auto;
    }
}


/* Partnering with world's leading universities and companies Section End CSS*/


/* Subscribe to our newsletter Section Start CSS */

.vx__subscribe--items .vx__sub--data h2 {
    color: #0450B4;
}

.vx__subscribe--items .vx__sub--data p {
    width: 100%;
    max-width: 650px;
}

.vx__subscribe--items .vx__subscribe--data form .email-text {
    width: 100%;
    max-width: calc(100% - 185px);
    float: left;
}

.vx__subscribe--items .vx__subscribe--data form .email-text input {
    width: 100%;
    padding: 20px 0px;
    font-size: 20px;
    border: none;
    background-color: transparent;
    border-bottom: 1px solid #707070;
}

.vx__subscribe--items .vx__subscribe--data form .vx__submit--btn {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    float: right;
    margin: 0;
    margin-top: 17px;
}

.vx__subscribe--items .vx__subscribe--data form .vx__submit--btn .btn.btn-blue {
    min-width: 185px;
    font-size: 18px;
}

.vx__subscribe--items .vx__subscribe--data form .vx__submit--checkbox .checkbox {
    width: 24px;
    height: 24px;
    background-color: red !important;
    color: white;
    float: left;
    margin-right: 8px;
}

@media (max-width: 991px) {
    .vx__subscribe--items .col--50 {
        max-width: 100%;
        flex: 0 0 100%;
        margin-bottom: 20px;
    }
    .vx__subscribe--items .col--50:last-child {
        margin-bottom: 0px;
    }
}

@media (max-width: 767px) {
    .vx__sub--data .h2 {
        font-size: 30px;
    }
}

@media (max-width: 500px) {
    .vx__sub--data .h2 {
        font-size: 24px;
    }
    .vx__sub--data p {
        font-size: 15px;
    }
}


/* Subscribe to our newsletter Section End CSS*/


/* Modal Popup CSS */

.popup-open {
    overflow: hidden;
}

.popup-open .modal {
    display: block;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(30, 46, 83, 0.59);
    z-index: 999;
    overflow: hidden;
    overflow-y: auto;
    display: none;
}

.modal .modal__content {
    max-width: 100%;
    margin: 1.75rem auto;
    min-height: calc(100% - 3.5rem);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: auto;
}

.modal .modal__content .modal__body {
    background-color: #ffffff;
    position: relative;
    padding: 50px 80px;
    width: 100%;
    overflow: hidden;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.modal .modal-title {
    font-size: 35px;
    font-weight: 700;
    margin-bottom: 30px;
}

.modal .close__modal {
    position: absolute;
    top: 50px;
    right: 90px;
    text-align: center;
    color: #020203;
    font-size: 30px;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.4s ease-in-out;
    z-index: 9;
}

.modal .close__modal:hover {
    color: #FF9A08;
    transition: all 0.4s ease-in-out;
}

.modal.video-modal .modal__content {
    max-width: 1500px;
}

.modal.video-modal .modal__content .modal__body {
    padding: 0;
}

.modal.video-modal .modal__content .modal__body .close__modal {
    top: 20px;
    right: 20px;
    color: #ffffff;
    background-color: #0450B4;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal.video-modal .modal__content .modal__body .close__modal:hover {
    background-color: #FF9A08;
}

.modal .bf__video--box {
    padding-top: 45%;
    position: relative;
    overflow: hidden;
}

.modal .bf__video--box iframe,
.modal .bf__video--box video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}

.modal .bf__video--box .bf__play-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    right: auto;
    bottom: auto;
    z-index: 9;
}


/* Modal Popup CSS */


/* Video Block CSS Start */

.pause_icon {
    display: none;
}

div[data-click="1"] .pause_icon {
    display: block;
}

div[data-click="1"] .play_icon {
    display: none;
}


/* Video Block CSS End */


/* Shop by category Section Start */

.vx__popular--slider {
    padding: 40px 0 0;
    overflow: visible;
}

.vx__popular--slider .vx__swiper-custom-icons {
    margin: 40px 0 20px;
}

.vx__popular--slider .vx__swiper-custom-icons .swiper-button-disabled {
    opacity: 0.35;
}

.vx__popular--slider .vx__swiper-custom-icons .swiper-next {
    margin-left: 20px;
}

.vx__popular--slider .vx__slide--content h4 {
    font-weight: 600;
    color: #000000;
    margin-top: 10px;
}

.vx__popular--slider .vx__slide--content p {
    font-size: 18px;
}

@media (max-width: 991px) {
    .vx__popular--slider .vx__swiper-custom-icons img {
        width: 25px;
    }
}


/* Shop by category Section End */


/* Information Section Start */

.vx__categories-info .row {
    row-gap: 55px;
}

.vx__categories-info .vx__categories-items .vx__categories-image img {
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.vx__categories-info .vx__categories-details {
    padding: 15px 12px;
    background: white;
    border-radius: 15px;
    margin-top: -40px;
    z-index: 999;
    position: relative;
}

.vx__categories-info .vx__categories-details .btn-blue {
    min-width: auto;
    padding: 8px 30px;
}

.vx__categories-info .vx__categories-details h5 {
    font-weight: 600;
    color: #3C3C3C;
}

.vx__categories-info .vx__categories-details svg {
    width: 24px;
    height: 24px;
}

.vx__categories-info .vx__categories-details svg path {
    stroke: #3C3C3C;
}

.vx__categories-info .vx__categories-details .seller {
    margin-bottom: 5px;
}

.vx__categories-info .vx__categories-details .seller p {
    color: #0450B4;
    font-weight: 500;
}

.vx__categories-info .vx__categories-details .seller .vx__tag {
    display: flex;
    align-items: center;
    margin-bottom: 0;
}

.vx__categories-info .vx__categories-details .seller .vx__tag span {
    font-size: 11px;
    text-transform: uppercase;
    font-weight: 500;
}

.vx__categories-info .vx__categories-details .seller .vx__tag svg {
    width: 20px;
    height: 20px;
    margin-right: 3px;
}

.vx__categories-info .vx__categories-details .seller .vx__tag svg path {
    stroke: transparent;
}

.vx__categories-info .vx__categories-details .cat-title p,
.vx__categories-info .vx__categories-details .cat-title-one p {
    color: #0450B4;
}

.vx__categories-info .vx__categories-details .cat-title svg.active path {
    fill: #e92727;
    stroke: #e92727;
}

.vx__categories-info .vx__categories-details .info-text {
    font-size: 13px;
}

.vx__categories-info .vx__categories-details .vx__tag--box {
    row-gap: 10px;
    -moz-column-gap: 10px;
    column-gap: 10px;
    overflow-x: auto;
}

.vx__categories-info .vx__categories-details .vx__tag-details {
    background: #C4C4C4;
    border-radius: 5px;
    padding: 5px 10px;
    color: rgba(17, 17, 19, 0.6);
    align-items: baseline;
    min-width: 80px;
}

.vx__categories-info .vx__categories-details .vx__tag-details p {
    margin-right: 10px;
    font-size: 14px;
    font-weight: 400;
}

.vx__categories-info .vx__categories-details .vx__tag-details span {
    font-size: 10px;
    color: rgba(17, 17, 19, 0.6);
}

.vx__categories-info .vx__categories-details .vx__expert--review {
    font-size: 12px !important;
    padding: 10px 0;
    border-top: 1px solid #EDEDED;
    border-bottom: 1px solid #EDEDED;
}

.vx__categories-info .vx__categories-details .vx__expert--review img {
    margin-right: 10px;
    width: 30px;
    height: 30px;
    border-radius: 50px;
    -o-object-fit: cover;
    object-fit: cover;
}

.vx__categories-info .vx__categories-details .vx__expert--review .vx__expert--item {
    width: 100%;
}

.vx__categories-info .vx__categories-details .vx__expert--review .vx__expert--item .expert-name {
    -moz-column-gap: 10px;
    column-gap: 10px;
    margin-bottom: 5px;
}

.vx__categories-info .vx__categories-details .vx__expert--review .vx__expert--item svg {
    width: 18px;
    height: 18px;
    margin-right: 5px;
}

.vx__categories-info .vx__categories-details .vx__expert--review .vx__expert--item svg path {
    stroke: transparent;
}

.vx__categories-info .vx__categories-details .vx__expert--review p {
    font-size: 16px;
    font-weight: 600;
    color: #3C3C3C;
}

.vx__categories-info .vx__categories-details .vx__ratting {
    -moz-column-gap: 7px;
    column-gap: 7px;
}

.vx__categories-info .vx__categories-details .vx__ratting .vx__ratting-image svg {
    width: 17px;
    height: 15px;
    margin-right: 2px;
}

.vx__categories-info .vx__categories-details .vx__ratting .vx__ratting-image svg.active path {
    fill: #FF9A08;
    stroke: #FF9A08;
}

.vx__categories-info .vx__categories-details .vx__ratting .vx__ratting-image svg g {
    opacity: 1;
}

.vx__categories-info .vx__categories-details .vx__ratting .vx__ratting-image svg path {
    stroke: #c6c6c6;
}

@media (max-width: 1440px) {
    .vx__categories-info .col--25 {
        max-width: 33.33%;
        flex: 0 0 33.33%;
    }
}

@media (max-width: 1199px) {
    .vx__categories-info .row {
        row-gap: 35px;
    }
    .vx__categories-info .col--25 .vx__tag--box {
        justify-content: start;
        -moz-column-gap: 15px;
        column-gap: 15px;
    }
}

@media (max-width: 991px) {
    .vx__categories-info .col--25 {
        max-width: 50%;
        flex: 0 0 50%;
    }
}

@media (max-width: 767px) {
    .vx__categories-info .col--25 {
        max-width: 100%;
        flex: 0 0 100%;
    }
}

@media (max-width: 575px) {
    .cat-title p,
    .cat-title-one p {
        font-size: 13px;
    }
}

@media only screen and (min-width: 1200px) and (max-width: 1280px) {
    .vx__categories-details .seller .vx__tag span {
        font-size: 10px !important;
    }
}

@media only screen and (min-width: 1200px) and (max-width: 1440px) {
    .vx__categories-details .vx__expert--review {
        flex-wrap: wrap;
    }
    .vx__categories-details img {
        margin-bottom: 5px;
    }
}


/* Information Section End */


/* Browse all categories Section Start */

.vx__categories--section {
    padding-top: 0;
}

.vx__categories--section .vx__categories--data {
    -moz-column-gap: 10px;
    column-gap: 10px;
    row-gap: 30px;
}

.vx__categories--section .vx__categories--items:hover p {
    background-color: #0450B4;
    color: #ffffff;
    transition: all 0.5s ease-in-out;
}

.vx__categories--section .vx__categories--items:hover p a {
    color: #ffffff;
}

.vx__categories--section .vx__categories--items:hover p a:hover {
    color: #FF9A08;
}

.vx__categories--section .vx__categories--items p {
    padding: 7px 15px;
    color: #0450B4;
    background-color: rgba(4, 80, 180, 0.38);
    border-radius: 50px;
    font-weight: 500;
    transition: all 0.5s ease-in-out;
}

.vx__categories--section .vx__categories--items p a:hover {
    color: #0450B4;
}


/*Search bar */

.vx__spacing .form-group {
    position: relative;
}

.vx__spacing .form-group svg {
    position: absolute;
    top: 50%;
    left: 30%;
    transform: translate(-30%, -50%);
}

.vx__spacing .form-group input::-moz-placeholder {
    color: #0450B4;
    opacity: 1;
}

.vx__spacing .form-group input:-ms-input-placeholder {
    color: #0450B4;
    opacity: 1;
}

.vx__spacing .form-group input::placeholder {
    color: #0450B4;
    opacity: 1;
}

.vx__spacing .form-group .form-control {
    width: 100%;
    max-width: 32%;
}


/* Form Design */

.form-group label {
    display: block;
}

.form-group input {
    padding: 12px 16px;
    border: 1px solid #FF9A08;
    background-color: transparent;
    border-radius: 5px;
    width: 100%;
}

.form-group input::-webkit-outer-spin-button,
.form-group input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.form-group select {
    padding: 12px 16px;
    border: 1px solid #FF9A08;
    background-color: transparent;
    border-radius: 5px;
    width: 100%;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: url(../images/select-down-fill.svg);
    background-repeat: no-repeat;
    background-size: 15px;
    background-position: 96% center;
    color: #707070;
}

.form-group textarea {
    padding: 12px 16px;
    border: 1px solid #FF9A08;
    border-radius: 10px;
    width: 100%;
    height: 125px;
    background-color: transparent;
}

.form-group .iti.iti--allow-dropdown {
    width: 100%;
}

.form-group #phone {
    padding-left: 50px;
}

.form-group .btn.btn-blue {
    width: 100%;
    font-weight: 500;
    font-size: 16px;
}

.selected {
    padding: 12px 16px;
    border: 1px solid #FF9A08;
    background-color: transparent;
    border-radius: 5px;
    width: 100%;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: url(../images/select-down-fill.svg);
    background-repeat: no-repeat;
    background-size: 15px;
    background-position: 96% center;
    color: #707070;
}

.drop-down {
    position: relative;
}

.drop-down .selected {
    padding: 0;
}

.drop-down span {
    cursor: pointer;
    display: block;
    padding: 12px 16px;
}

.drop-down .option {
    position: relative;
}

.drop-down .options ul {
    background: #0450B4 none repeat scroll 0 0;
    display: none;
    list-style: none;
    padding: 0px 0px;
    position: absolute;
    left: 0px;
    top: 45px;
    width: auto;
    min-width: 170px;
    border: 1px solid #0450B4;
    z-index: 9999;
    width: 100%;
    border-radius: 5px;
    transition: all 0.5s ease-in-out;
}

.drop-down .options ul li a {
    color: #ffffff;
    padding: 5px 16px;
}

.drop-down .options ul li a:hover {
    background-color: #FF9A08;
}

.drop-down .selected span.value {
    display: none;
}

.drop-down .options span.value {
    display: none;
}

.drop-down ul li a {
    padding: 5px;
    display: block;
    text-decoration: none;
    color: #3179ac;
}

.drop-down ul li a:hover {
    background: #3179ac;
    color: #fff;
    transition: 0.2s ease;
}

.vx__form--check-box input {
    width: 20px !important;
    height: 20px;
    margin-right: 5px;
}

.vx__form--check-box input:checked {
    background-color: red;
}

.vx__form--check-box p a {
    text-decoration: underline;
}

.vx__form--check-box p a:hover {
    color: #FF9A08;
}

.login-container {
    padding-left: 10%;
}

.login-container .row {
    margin: 0 0;
    width: 100%;
}

.vx__login .vx__login--form {
    margin: 15px 0;
    background-color: #ffffff;
    border-radius: 15px;
    padding: 15px;
    box-shadow: 0px 0px 15px rgba(190, 190, 190, 0.25);
}

.vx__login form .btn.btn-blue {
    width: 100%;
}


/*Box Design Section Start CSS */

.vx__login--form {
    position: relative;
}

.vx__login--image {
    position: relative;
    padding-top: 80%;
    overflow: hidden;
}

.vx__login--image img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    -o-object-fit: contain;
    object-fit: contain;
}

.vx__login {
    margin-top: -98px;
    height: 100vh;
}

.vx__login .login-container {
    padding-top: 100px;
    height: 100%;
}

.vx__login .login-container .vx__data--set {
    height: 100%;
}

.vx__login .login-container .vx__data--set .vx__login--form {
    padding: 0 70px;
    height: 100%;
    margin: 0;
    display: flex;
}

.vx__login .login-container .vx__data--set>.col--50:last-child {
    padding: 15px;
    height: 100%;
}

.vx__login .login-container .form--data {
    width: 100%;
    align-self: center;
}

.vx__login .login-container .form--data h2 {
    color: #3c3c3c;
}

@media (max-width: 1280px) {
    .login-container {
        padding-left: 0 !important;
    }
}

@media (max-width: 991px) {
    .vx__login--image {
        display: block;
        position: absolute;
        top: 140px;
        left: 50%;
        width: 180px;
        padding-top: 0;
        transform: translate(-50%, 0);
    }
    .vx__login--image img {
        position: static;
    }
    .login-container .col--50 {
        max-width: 70%;
        flex: 0 0 70%;
        margin: 0 auto;
    }
}

@media (max-width: 767px) {
    .vx__login--form {
        padding: 0 30px 1px !important;
    }
    .login-container .col--50 {
        max-width: 90%;
        flex: 0 0 90%;
        margin: 0 auto;
    }
}

.vx__account--link {
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, -15px);
    margin-bottom: 0;
}

.vx__account--link a {
    cursor: pointer;
    color: #0450B4 !important;
}

.vx__account--link a:hover {
    color: #FF9A08 !important;
}

.vx__register--button {
    position: absolute;
    width: 100%;
    left: 50%;
    max-width: 90%;
    margin: 0 auto;
    bottom: 0;
    transform: translate(-50%, -50px);
}

.vx__register--button button {
    width: 100%;
}

@media (max-width: 991px) {
    .vx__login--form {
        display: block !important;
    }
    .vx__register--button {
        position: static;
        width: 100%;
        left: 0%;
        max-width: 96%;
        margin: 0 auto;
        bottom: 0;
        transform: translate(0%, 0px);
    }
}


/*Box Design Section End CSS */

.vx__progress-bar .progress-line {
    width: 100%;
    height: 10px;
    background-color: #707070;
}

.vx__progress-bar .progress--bar .progress-line {
    position: relative;
}

.vx__progress-bar .progress--bar .progress-line::before {
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 10px;
    background-color: #0450B4;
    transition: all 0.5s ease-in-out;
}

.vx__progress-bar .progress--bar.active p {
    color: #0450B4;
}

.vx__progress-bar .progress--bar.active .progress-line::before {
    width: 100%;
    transition: all 0.5s ease-in-out;
}

.line {
    position: relative;
    z-index: 999;
}

.line::before {
    content: "or";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 16px;
    z-index: 9999;
    background: #ffffff;
    padding: 4px 10px;
    color: #C7C7C7;
}

.line hr {
    background-color: transparent;
    border-color: #C7C7C7;
    opacity: 0.4;
}

.vx__social-icon .icon {
    margin: 0 10px;
}

.vx__social-icon .icon svg {
    background-color: #0450B4;
    border-radius: 50px;
    width: 50px;
    height: 50px;
    transition: all 0.5s ease-in-out;
}

.vx__social-icon .icon svg path {
    fill: #ffffff;
}

.vx__social-icon .icon:hover svg {
    border: 2px dotted #fff;
}

.vx__social-icon .icon:hover.facebook svg {
    background-color: #3b5998;
    transition: all 0.5s ease-in-out;
}

.vx__social-icon .icon:hover.linkedin svg {
    background-color: #0077b5;
    transition: all 0.5s ease-in-out;
}

.vx__social-icon .icon:hover.google svg {
    background-color: #DB4437;
    transition: all 0.5s ease-in-out;
}

.vx__create--account a {
    color: #0450B4 !important;
}


/*# sourceMappingURL=style.css.map */